<%- include('includes/head.ejs') %>
  </head>

  <body>
    <link rel="stylesheet" href="/public/add-medicine.css" />
    <link rel="stylesheet" href="/public/auth.css" />

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">MIS</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <!-- <li><a href="#">Page 1</a></li>
            <li><a href="#">tips of the day</a></li> -->
          <li><a href="/views/aboutus.html">About us</a></li>
          <% if(!isAuthenticated) { %>
            <li><a id="login-right-nav-btn" href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
            <% } else { %>
            <li>
              <form action="/logout" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="logout-btn">logout</button>
              </form>
            </li>
            <% } %>
        </ul>
      </div>
    </nav>
    <!-- title -->
    <% if (errorMessage) { %>
      <div class="user-message user-message--error"><%= errorMessage %></div>
    <% } %>
    <br>
    <br>
    <div class="form">
      <form action="/edit-medicine" method="POST">
        <div class="text-bar">
          <!-- <input type="text" class="add" name="medicine"> -->
          <label class="right" for="title">Title: </label>
          <input class="left <% if(validationError  === 'title') { %> invalid <% } else { %> '' <% } %> %>" type="text" name="title" id="title" value="<%= medicine.title %>">
        </div>
        <br>
        <div class="text-bar">
          <label class="right" for="imageUrl">Image URL: </label>
          <input class="left <% if(validationError  === 'imageUrl') { %> invalid <% } else { %> '' <% } %> %>" type="text" name="imageUrl" id="imageUrl" value="<%= medicine.imageUrl %>">
        </div>
        <br>
        <div class="text-bar">
          <label class="right" for="manufacturer">Manufacturer: </label>
          <input class="left <% if(validationError  === 'manufacturer') { %> invalid <% } else { %> '' <% } %> %>" type="text" name="manufacturer" id="manufacturer" value="<%= medicine.manufacturer %>">
        </div>
        <br>
        <div class="text-bar">
          <label class="right" for="sc">Salt Composition: </label>
          <input class="left <% if(validationError  === 'sc') { %> invalid <% } else { %> '' <% } %> %>" type="text" name="sc" id="sc" value="<%= medicine.sc %>">
        </div>
        <br>
        <div class="text-bar">
          <label class="right" for="uses">Uses: </label>
          <input class="left <% if(validationError  === 'uses') { %> invalid <% } else { %> '' <% } %> %>" type="text" name="uses" id="uses" value="<%= medicine.uses %>">
        </div>
        <br>
        <div class="text-bar">
          <label class="right" for="price">Price: </label>
          <input class="left <% if(validationError  === 'price') { %> invalid <% } else { %> '' <% } %> %>" type="number" name="price" id="price" step="0.01" value="<%= medicine.price %>">
        </div>
        <input type="hidden" name="ProductId" value="<%= medicine.id %>">
        <br>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="submit" class="add-btn" value="edit-product">
      </form>
    </div>
  </body>

  </html>