<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/public/index.css" />
    </head>

    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">MIS</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <!-- <li><a href="#">Page 1</a></li>
            <li><a href="#">tips of the day</a></li> -->
                    <li><a href="/aboutus">About us</a></li>
                    <% if(!isAuthenticated) { %>
                        <li><a id="login-right-nav-btn" href="/login">Login</a></li>
                        <li><a href="/signup">Signup</a></li>
                        <% } else { %>
                        <li>
                          <form action="/logout" method="post">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="logout-btn">logout</button>
                          </form>
                        </li>
                        <% } %>
                </ul>
            </div>
        </nav>
        <main>
            <article class="centered">
                <div>
                    <h1>
                        <%= product.title %>
                    </h1>
                </div>
                <hr>
                <div>
                    <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
                </div>
                <div>
                    <h3>
                        <b>
                            Manufacturer:
                        </b>
                    </h3>
                    <h4>
                        <%= product.manufacturer %>
                    </h4>
                </div>
                <div>
                    <h3>
                        <b>
                            Salt Composition:
                        </b>
                    </h3>
                    <h4>
                        <%= product.sc %>
                    </h4>
                </div>
                <div>
                    <h3>
                        <b>
                            Uses:
                        </b>
                    </h3>
                    <h4>
                        <%= product.uses %>
                    </h4>
                </div>
                <div>
                    <h3>
                        <b>
                            Price:
                        </b>
                    </h3>
                    <h4>
                        <%= product.price %>
                    </h4>
                </div>
            </article>
        </main>
    </body>

    </html>