<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= pageTitle %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.0/examples/pricing/"
    />

    <!-- Bootstrap core CSS -->
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/public/para.css" />
    <link rel="stylesheet" href="/public/hover.css" />
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">MIS</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/index">Sign in</a></li>
          <!-- <li><a href="#">Page 2</a></li> -->
          <li><a href="/views/aboutus.html">About us</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <h2><b><%= Medicine_name %></b></h2>
      <!-- <p>Used in a common painkiller used to treat aches and pain.</p> -->
      <img src='<%= Medicine_image %>' alt="Paracetamol image" />
      <!-- <button >details</button>
  <button>buy</button> -->
      <div class="manu">
        <h4><b>Manufacturer: </b></h4>
        <h4><%= Medicine_Manufacturer %></h4>
        <br>
        <h4><b>Salt Composition: </b></h4>
        <h4><%= Medicine_Composition %></h4>
        <br>
        <h4><b>Uses: </b></h4>
        <ul>
          <li>
            <h4><%= Medicine_sy2 %></h4>
          </li>
          <li>
            <h4><%= Medicine_sy1 %></h4>
          </li>
        </ul>
        <h4><b>Price: </b></h4>
        <h4><%= Price %></h4>
      </div>
      <br>

      <form action="/views/paracetamol_details.html">
        <input class="Details" type="submit" value="Details" />
      </form>
      <form action="/paracetamol_buy.html">
        <input class="Buy" type="submit" value="buy" />
      </form>
    </div>
    <br>
    <span id="Medicine_name"></span>

    <!-- <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> -->
  </body>
</html>
